
.error {
  color: red;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: darkgray;
}
body{
  margin: 0px;

}
.flexbox-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height:100vh;
  justify-content: flex-start;
  align-content: center;
}
.flexbox-item-upperbanner{
  display: flex;
  width:100%;
  height: 60px;
  background-color: darksalmon;
  justify-content: space-between;
}
.flexbox-item1and2-in-upperbanner{
  display: flex;
  flex-direction: row;
  height:7%;
  justify-content: flex-start;

}
.flexbox-item3and4-in-upperbanner{
  display: flex;
  flex-direction: row;
  height:7%;
  justify-content: flex-start;

}
.flexbox-item-admin-box{
  display: flex;
  flex-direction: row;
  height:7%;
  justify-content: flex-start;
}
.button-like-text {
  display: flex;
  color: white;
  height: 34px;
  font-size: 18px;
  padding-top: 16px;
  margin: 4px 2px;
  background-color: darksalmon;
  justify-content: center;
  border-radius: 0;
}
.button-like-text:hover {
  cursor: default;
}
.flexbox-item-picture{
  display: flex;
  background-color: grey;
  width: 100%;
  height: 35vh;

  justify-content: center;
}
.flexbox-item-text1{
  display: flex;
  background-color: darksalmon;
}
.flexbox-item-text1 h1{
  margin-left: 5%;
  font-size: 72px;
}
.indkøbs-h1{
  margin-left: 2%;
  font-size: 72px;
}
.flexbox-container-selve-indkøbskurven{
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  width: 55%;
  margin-right:100px;
}
.flexbox-container-prisbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 50%;
  background-color: lightgrey;
  padding-bottom: 10px;
}
.flexbox-container-prisbox p{
  margin-left: -150px;
  font-size: 32px;
}
.ordrer-detaljer span{
  margin-left: 8vw;
  font-size: 24px;
}
.ordrer-box{
  margin-top: 10px;
  margin-right: 7px;
  padding-bottom: 10px;
  background-color: darksalmon;
  width: 100%;
  height: 10%;
}
.ordrer-antal input{
  width: 35px;
}
.ordrer-del button{
  border: none;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;

  cursor: pointer;
  background-color: darksalmon;
}
.ordrer-box-del{
  width:10vw;
  height:10%;
  margin-top: 28px;

}
.ordrer-del button:hover {
  background-color: salmon;
}
.ordrer-box-antal{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-right: 7px;
  margin-bottom: 30px;

  background-color: darksalmon;
  width: 10vw;
  height: 6%;
}
.flexbox-item-text1-login{
  display:flex;
  background-color: darksalmon;
  justify-content: center;
}
.flexbox-item-text1-login h1{
  font-size: 72px;
  margin-left: 5%;
}
.flexbox-item-inputfields-login{
  display: flex;
  width:100%;
  height:50%;
  background-color: darksalmon;
  justify-content: center;
}
.flexbox-item-inputfields-login form{
  margin-top: 50px;
}
.flexbox-item-text2{
  display: flex;
  background-color: darksalmon;
}
.flexbox-item-text2 h2{
  margin-left: 5%;
  font-size: 48px;
}
.flexbox-item-inputfields{
  display: flex;
  width: 100%;
  height: 50%;
  background-color: darksalmon;

}
.flexbox-item-inputfields form{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5vw;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 5%;
}
.flexbox-item-inputfields-login button{
  margin-top: 100px;
}

/* drop down div'en */
.topping-dropdown {
  position: relative;
  display: inline-block;
}
.bund-dropdown{
  position: relative;
  display: inline-block;
}

/* Selve dropdown knappen er stylet her */
.topping-button {
  background-color: gray;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.bund-button{
  background-color: gray;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Det er cellerne i dropdownen der er stylet her */
.topping-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
}
/* Det er cellerne i dropdownen der er stylet her */
.bund-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
}

/* Each label behaves like a clickable line */
.topping-content label {
  display: block;
  padding: 6px;
  cursor: pointer;
}
.bund-content label{
  display: block;
  padding: 6px;
  cursor: pointer;
}

/* Hover effect */
.topping-content label:hover {
  background-color: #eee;
}
.bund-content label:hover{
  background-color: #eee;
}

/* Show on hover */
.topping-dropdown:hover .topping-content {
  display: block;
}
.bund-dropdown:hover .bund-content{
  display: block;
}
.flexbox-item-ordreinfo h1{

  font-size: 96px;
width: 120%;
}
.flexbox-item-ordreinfo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: yellow;
  padding-right: 100px;
}
.flexbox-item-ordreinfo span{
  font-size: 32px;
}
.flexbox-container-ordrer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height:100vh;
  justify-content: flex-start;
  align-content: center;
  background-color: grey;
}
.flexbox-container-indkøbskurv{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height:100vh;
  justify-content: flex-start;
  align-content: center;
  background-color: grey;
}
.flexbox-container-nedre-indkøbskurv{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height:100vh;
  background-color: grey;
}
.flexbox-ordrer-data{
  display: flex;
  background-color: red;
  width:100%;
  height:70%;
}
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  /* index html */


  .flexbox-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height:100vh;
  justify-content: flex-start;
  align-content: center;
}
  .flexbox-item-upperbanner{
    display: flex;
    width:100%;
    height: 60px;
    background-color: darksalmon;
    justify-content: space-between;
  }
  .flexbox-item1and2-in-upperbanner{
    display: flex;
    flex-direction: row;
    height:7%;
    justify-content: flex-start;

  }
  .flexbox-item-admin-box{
    display: none;
  }
  .flexbox-item-picture{
    display: flex;
    background-color: grey;
    width: 100%;
    height: 20vh;
    justify-content: center;
  }
  .flexbox-item-picture img{
    width: 90%;
    height: 100%;
    object-fit: contain;
  }
  .flexbox-item-text1{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .flexbox-item-text1 h1{
    margin-left: 2%;
    font-size: clamp(62px, 72px, 72px);
  }
  .flexbox-item-text2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexbox-item-text2 h2{
    margin-top: -35px;
    margin-left: 2%;
    font-size: clamp(32px, 48px, 48px);
  }
  .flexbox-item-inputfields{
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    background-color: darksalmon;
  }

  .topping-dropdown{
    margin-left: 40vw;
    margin-right: 40vw;
  }
  .bund-dropdown{
    margin-left: 40vw;
    margin-right: 42vw;
  }
  .antal-input{
    margin-left: 40vw;
    margin-right: 35vw;
  }
  .flexbox-item-buttonforbasket{
    margin-left: 40vw;
    margin-right: 40vw;
  }



  /* login.html */

  .flexbox-item-text1-login{

  }
}

