<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../public/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="flexbox-container-admin-mainpage">
        <div class="flexbox-item-upperbanner">
            <th:block th:insert="~{/fragments.html :: header}"></th:block>
            <a href="/">
                <button class="button button-index" type="button">Hovedside</button>
            </a>
            <div class="flexbox-item3and4-in-upperbanner">

                <span>Du er i admin-view</span>

                <form class="header-menu" th:action="@{/admin/orders}" method="get">
                    <button class="button button-kundeoversigt">Ordrer</button>
                </form>

                <form class="header-menu" th:action="@{/admin}" method="get">
                    <button class="button button-kundeoversigt">Kunder</button>
                </form>
            </div>
        </div>
        <div class="flexbox-item-admin-h1-box">
            <h1>Alle kunder:</h1>
        </div>
        <div class="flexbox-item-admininfo">
            <span>Email:</span><span>-</span><span>BrugerID:</span><span>-</span>
            <span>Balance:</span>
        </div>
        <div class="flexbox-admin-kundedata">
            <div class="flexbox-admin-kundedata-styling">
                <div class="kunde-række" th:each="user : ${users}">
                    <span>
                        <a th:href="@{/admin/user-orders/{id}(id=${user.getId()})}"
                           th:text="${user.getEmail()}"></a>
                    </span>
                    <span>-</span>
                    <span th:text="${user.getId()}"></span>
                    <span>-</span>
                    <span th:text="${user.getBalance()}"></span>
                    <span>-</span>
                    <form class="admin-kundedel-knap" th:action="@{/admin/remove-user/{id} (id=${user.getId()})}" method="post">
                        <button type="submit">Del</button>
                    </form>

                    <form class="admin-kundebalance-knap" th:action="@{/admin/update-balance/{id} (id=${user.getId()})}" method="post">
                        <div class="balance-input">
                            <label for="balance"></label>
                            <input type="number" id="balance" name="balance" placeholder="Indtast balance her">
                        </div>

                        <div class="flexbox-item-admin-submitbalance">
                            <button type="submit">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="flexbox-admin-indsættelseAndButton-field-styling">
            <div class="topping-dropdown">
                <button type="button" class="topping-button">Toppings ⬇</button>
                <div class="topping-content">
                    <div th:each="topping : ${toppings}">
                        <form class="topping-del-knap" th:action="@{/admin/remove-topping/{id} (id=${topping.getId()})}" method="post">
                                <button type="submit">X</button>
                                <span th:text="${topping.getName()}"></span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bund-dropdown">
                <button type="button" class="bund-button">Bund ⬇</button>
                    <div class="bund-content">
                        <div th:each="bottom : ${bottoms}">
                            <form class="bund-del-knap" th:action="@{/admin/remove-bottom/{id} (id=${bottom.getId()})}" method="post">

                                <button type="submit">X</button>
                                <span th:text="${bottom.getName()}"></span>

                            </form>
                        </div>
                     </div>
            </div>
                <form action="/admin/add-cupcake" method="POST">
                    <div class="insert-topping-bottom-field-admin">
                    <div class="topping-input-admin">
                        <label for="topping-indsættelse"></label>
                        <input type="text" id="topping-indsættelse" placeholder="Indsæt topping/bund her:" name="name">
                        <input type="text" id="pris-indsættelse" placeholder="Indsæt pris her:" name="price">
                        <input type="radio" id="type-top" name="type" value="topping">
                        <label for="type-top">Topping</label>
                        <input type="radio" id="type-bot" name="type" value="bottom">
                        <label for="type-bot">Bund</label>
                    </div>
                    <div class="flexbox-item-button-indsættelse">
                        <button type="submit">Gem</button>
                    </div>
                    </div>
                </form>

        </div>
    </div>

</body>
</html>