<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../public/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="flexbox-item-upperbanner">
    <th:block th:insert="~{/fragments.html :: header}"></th:block>
    <th:block th:insert="~{/fragments.html :: admin}"></th:block>
    <div class="flexbox-item3and4-in-upperbanner">
        <span>Du er i admin-view</span>
        <form class="header-menu" th:action="@{/admin}" method="get">
            <button class="button button-kundeoversigt">Kunder</button>
        </form>
    </div>
</div>
<div class="flexbox-item-admin-h1-box">
    <h1 th:text="${user.getEmail()} + ' ordrer:'"></h1>
</div>
<div class="flexbox-item-ordreinfo">
    <span>Ordre id:</span><span>-</span><span>Topping:</span><span>-</span>
    <span>Bund:</span><span>-</span><span>Antal:</span><span>-</span><span>Pris:</span>
</div>
<div class="flexbox-ordrer-data">
    <div class="ordre-række" th:each="order : ${orders}">
        <span th:text="${order.getId()}"></span>
        <span>-</span>
        <span th:text="${order.getTopping()}"></span>
        <span>-</span>
        <span th:text="${order.getBottom()}"></span>
        <span>-</span>
        <span th:text="${order.getCount()}"></span>
        <span>-</span>
        <span th:text="${order.getPrice()}"></span>
        <form class="admin-ordrer-del-knap" th:action="@{/admin/remove-order/{id} (id=${order.getId()})}" method="post">
            <button type="submit">Del</button>
        </form>
    </div>
</div>
</body>
</html>