<!DOCTYPE HTML>
<body>
<div th:fragment="header">
        <div class="header-menu" th:if="${user} != null">
            <form action="/logout" method="POST">
                <button class="button button-logpå" type="submit">Log ud</button>
            </form>
        </div>
        <div class="header-menu" th:if="${user} == null">
            <a href="/login">
                <button class="button button-logpå" type="button">Log på</button>
            </a>
        </div>

</div>
<div th:fragment="admin">
    <th:block th:if="${user} != null">
        <div th:if="${user.isAdmin()}" class="flexbox-item-admin-box">
            <a class="header-menu" href="/admin">
                <button class="button button-admin" type="button">Admin</button>
            </a>
        </div>
    </th:block>
</div>
<div th:fragment="user">
    <th:block th:if="${user} != null">
        <span th:text="${user.getEmail()}"></span>
        <span th:text="${user.getBalance()}"></span>
    </th:block>
</div>
</body>
</html>