<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../public/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<div class="flexbox-container">
  <div class="flexbox-item-upperbanner">
    <div class="flexbox-item1and2-in-upperbanner">
      <form class="header-menu" th:action="@{/login}" method="get">
        <button class="button button-logpå">Log på</button>
      </form>
      <form class="header-menu" th:action="@{/ordrer}" method="get">
        <button class="button button-ordrer">Ordrer</button>
      </form>
    </div>
    <div class="flexbox-item-admin-box">
      <form class="header-menu" th:action="@{/admin}" method="get">
        <button class="button button-admin">Admin</button>
      </form>
    </div>
    <div class="flexbox-item3and4-in-upperbanner">
      <th:block th:if="${user} != null">
        <span th:text="${user.getEmail()}"></span>
      </th:block>
      <form class="header-menu" th:action="@{/indkobskurv}" method="get">
        <button class="button button-indkøbskurv">Indkøbskurv</button>
      </form>
    </div>
  </div>
  <div class="flexbox-item-picture">
    <img src="/css/images/cupcakelogo.png" alt="cupcakebanner" width=955 height=305>
  </div>
  <div class="flexbox-item-text1">
    <h1>Byg din cupcake!</h1>
  </div>
  <div class="flexbox-item-text2">
    <h2>Vælg nedenfor:</h2>
  </div>
  <div class="flexbox-item-inputfields">
    <form action="" method="POST">
      <div class="topping-dropdown">
        <button type="button" class="topping-button">Toppings ⬇</button>
        <div class="topping-content">
          <label th:each="topping : ${toppings}">
            <input type="checkbox" name="topping" th:value="${topping}">
            <span th:text="${topping.getName()}"></span>
          </label>
        </div>
      </div>
      <div class="bund-dropdown">
        <button type="button" class="bund-button">Bund ⬇</button>
        <div class="bund-content">
          <label th:each="bottom : ${bottoms}">
            <input type="checkbox" name="bottom" th:value="${bottom}">
            <span th:text="${bottom.getName()}"></span>
          </label>
        </div>
      </div>
      <div class="antal-input">
        <label for="antal">Antal:</label>
        <input type="text" id="antal" name="antal">
      </div>

      <div class="flexbox-item-buttonforbasket">
        <button type="submit">Put i kurven</button>
      </div>
    </form>
  </div>
</div>



</body>
</html>
