<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="../public/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="flexbox-container-indkøbskurv">
  <div class="flexbox-item-upperbanner">
    <div class="flexbox-item1and2-in-upperbanner">
      <form class="header-menu" th:action="@{/login}" method="get">
        <button class="button button-logpå">Log på</button>
      </form>
      <form class="header-menu" th:action="@{/orders}" method="get">
        <button class="button button-ordrer">Ordrer</button>
      </form>
    </div>
    <div class="flexbox-item3and4-in-upperbanner">
      <th:block th:if="${user} != null">
        <span th:text="${user.getEmail()}"></span>
      </th:block>
      <form class="header-menu" th:action="@{/indkobskurv}" method="get">
        <button class="button button-indkøbskurv">Indkøbskurv</button>
      </form>
    </div>
  </div>
  <h1 class="indkøbs-h1">Din indkøbskurv:</h1>
  <div class="flexbox-container-nedre-indkøbskurv">

  <div class="flexbox-container-selve-indkøbskurven">
    <div th:each="basket,iter:${basket}" class="samlet-ordrer-box">
    <div class ="ordrer-box">
      <div class ="ordrer-information">
        <div class="ordrer-detaljer">
          <span>Topping:</span>
          <span>|</span>
          <span>Bund: </span><br><br>
          <span th:text="${basket.getTopping()}"></span>
          <span>-</span>
          <span th:text="${basket.getBottom()}"></span>
        </div>
      </div>

    </div>
    <div class ="ordrer-box-antal">
      <div class="ordrer-antal">
        <p th:text="${basket.getCount()}"></p>
      </div>
    </div>
    <div class ="ordrer-box-del">
      <div class="ordrer-del">
        <form class="ordrer-del-knap" th:action="@{/remove-basket/{id} (id=${iter.index})}" method="post">
          <button type="submit">X</button>
        </form>

      </div>
    </div>
    </div>
  </div>
  <div class="flexbox-container-prisbox">
    <span>Subtotal:</span><span th:text="${subtotal}"></span>
    <span>Levering:</span><span>40kr</span>
    <span>Pris i alt:</span><span th:text="${subtotal+40}"></span>
    <form class="ordrer-betal-knap" th:action="@{/order}" method="post">
      <button type="submit">Betal</button>
    </form>
  </div>
  </div>
</div>
</body>
</html>
