<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../public/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="flexbox-container-ordrer">
    <div class="flexbox-item-upperbanner">
        <div class="flexbox-item1and2-in-upperbanner">
            <form class="header-menu" th:action="@{/login}" method="get">
                <button class="button button-logpå">Log på</button>
            </form>
            <form class="header-menu" th:action="@{/ordrer}" method="get">
                <button class="button button-ordrer">Ordrer</button>
            </form>
        </div>
        <div class="flexbox-item3and4-in-upperbanner">
            <span th:text="${user.email}"></span> <!-- maybe currentuser instead? -->
            <form class="header-menu" th:action="@{/indkobskurv}" method="get">
                <button class="button button-indkøbskurv">Indkøbskurv</button>
            </form>
        </div>
    </div>

    <div class="flexbox-item-ordreinfo">
        <h1>Dine ordrer:</h1>
        <span>Ordre id:</span><span>-</span><span>Topping:</span><span>-</span>
        <span>Bund:</span><span>-</span><span>Antal:</span><span>-</span><span>Pris:</span>
    </div>
    <div class="flexbox-ordrer-data">
        <div class="ordre-række" th:each="order : ${orders}">
            <span th:text="${order.id}"></span>
            <span th:text="${order.topping}"></span>
            <span th:text="${order.bottom}"></span>
            <span th:text="${antal}"></span>
            <span th:text="${order.pris}"></span>
        </div>

    </div>

</div>

</body>
</html>